@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriacha', cursive;
}

body {
  min-height: 100vh;
  background-color: white;
  font-family: var(--fonte1);
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 75px;
}

header h1 {
  color: white;
  font-size: 10vh;
  font-variant: small-caps;
  font-family: var(--fonte2);
}

header p{
  font-size: 1.4em;
}

header p a {
  font-family: var(--fonte1);
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 3vh;
  padding-bottom: 30px;
}

section {
  padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section p {
  font-style: italic;
}
section.imagem {
  background-color: rgb(51, 51, 51);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  background-size: cover;
  background-attachment: fixed;
}

section#img01 {
  background-image: url("images/background001.jpg");
  background-position: right center;
}

section#img01 p {
  display: inline-block;
  background-color:rgba(51, 51, 51, 0.548);
  min-width: 250px;
  max-width: 900px;
  padding-left: 10px;
}

section#img02 {
  background-image: url("images/background002.jpg");
  background-position: right center;
}

section#img02 p {
  display: inline-block;
  background-color:rgba(51, 51, 51, 0.548);
  min-width: px;
  max-width: px;
  padding-left: 10px;
}

footer {
  margin-top: 120px;
  text-align: center;
  color: white;
  background-color: black;
  padding: 15px;
  font-size: 2.8vh
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
} 

footer a:hover {
  text-decoration: underline;
}